Repository AY2021S1-CS2113T-T09-4/tp, pull requests merged in 2020-11, with the labels that each got.

#224 Enhancement
  docs/DeveloperGuide.md
  docs/README.md
  docs/UserGuide.md
  src/main/java/seedu/duke/Trakcal.java
  src/main/java/seedu/duke/command/AddExerciseCommand.java
  src/main/java/seedu/duke/command/AddFoodCommand.java
  src/main/java/seedu/duke/command/EditExerciseCommand.java
  src/main/java/seedu/duke/command/EditFoodCommand.java
  src/main/java/seedu/duke/logic/Parser.java
  src/main/java/seedu/duke/ui/Ui.java
Labels: type.Enhancement

#232 Standardize JavaDoc presentation
  src/main/java/seedu/duke/Trakcal.java
  src/main/java/seedu/duke/exception/CalorieCountException.java
  src/main/java/seedu/duke/exception/CalorieTagNotFoundException.java
  src/main/java/seedu/duke/exception/DateLimitException.java
  src/main/java/seedu/duke/exception/DescriptionLengthExceedException.java
  src/main/java/seedu/duke/exception/EmptyDescriptionException.java
  src/main/java/seedu/duke/exception/InvalidCalorieException.java
  src/main/java/seedu/duke/logic/Parser.java
  src/main/java/seedu/duke/model/ActivityList.java
  src/main/java/seedu/duke/model/DayMap.java
  src/main/java/seedu/duke/model/FindDrawer.java
  src/main/java/seedu/duke/model/GraphProperty.java
  src/main/java/seedu/duke/model/ListDrawer.java
  src/main/java/seedu/duke/storage/Storage.java
  src/main/java/seedu/duke/ui/ExceptionMessages.java
  src/main/java/seedu/duke/userprofile/CheckNewUser.java
  src/main/java/seedu/duke/userprofile/InitialiseUserProfile.java
Labels: type.Enhancement

#237 update UserGuide
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: type.DeveloperGuide, type.UserGuide

#235 Update chaining and edita feature
  src/main/java/seedu/duke/logic/Parser.java
  src/main/java/seedu/duke/model/ActivityList.java
Labels: type.Enhancement

#239 PPP (skeleton)
  docs/team/chuanan.md
  docs/team/jenny.md
  docs/team/karthig.md
  docs/team/owen.md
  docs/team/puahsiewwen.md
Labels: type.PPP

#241 Refactor add and edita feature, add logging
  src/main/java/seedu/duke/command/AddExerciseCommand.java
  src/main/java/seedu/duke/command/EditExerciseCommand.java
  src/main/java/seedu/duke/command/EditFoodCommand.java
  src/main/java/seedu/duke/logic/parser/ChainingParser.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareAddCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareEditCommand.java
  src/main/java/seedu/duke/ui/ExceptionMessages.java
Labels: priority.High, severity.VeryLow

#242 Catch more exceptions + correct typos
  src/main/java/seedu/duke/command/EditFoodCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareEditCommand.java
  src/main/java/seedu/duke/model/ActivityList.java
Labels: severity.VeryLow

#243 correct error messages
  docs/UserGuide.md
  src/main/java/seedu/duke/ui/ExceptionMessages.java
  src/main/java/seedu/duke/ui/Ui.java
Labels: severity.VeryLow

#244 redo the profile commands
  src/main/java/seedu/duke/Trakcal.java
  src/main/java/seedu/duke/exception/InvalidNumberOfArguments.java
  src/main/java/seedu/duke/logic/parser/CommandParser.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareUserCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareUserListCommand.java
Labels: Work-In-Progress

#240 PPP
  docs/AboutUs.md
  docs/team/e0425705.md
Labels: Work-In-Progress, type.PPP

#247 update JavaDocs and UG
  docs/UserGuide.md
  src/main/java/seedu/duke/command/EditExerciseCommand.java
  src/main/java/seedu/duke/command/EditFoodCommand.java
  src/main/java/seedu/duke/logic/parser/ChainingParser.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareAddCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareAddSetCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareByeCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareDeleteCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareEditCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareEditUserProfile.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareFindCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareGraphCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareHelpCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareListCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareMoveIndexCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareProfileListCommand.java
  src/main/java/seedu/duke/model/Activity.java
  src/main/java/seedu/duke/model/Exercise.java
  src/main/java/seedu/duke/ui/ExceptionMessages.java
  src/main/java/seedu/duke/ui/Ui.java
Labels: type.UserGuide

#248 correct indentations in UG
  docs/UserGuide.md
Labels: type.UserGuide

#255 author things
  docs/UserGuide.md
  src/main/java/seedu/duke/command/AddExerciseCommand.java
  src/main/java/seedu/duke/command/AddFoodCommand.java
  src/main/java/seedu/duke/command/EditExerciseCommand.java
  src/main/java/seedu/duke/command/EditFoodCommand.java
  src/main/java/seedu/duke/command/HelpCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareAddCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareEditCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareHelpCommand.java
  src/main/java/seedu/duke/model/Activity.java
Labels: type.UserGuide

#266 edit Developer guide
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/AddExerciseFeature.png
  docs/diagrams/AddFoodFeature.jpg
  docs/diagrams/ChainCommand.png
  docs/diagrams/EditActivityFeature.jpg
  docs/diagrams/EditExercise.png
  docs/diagrams/EditFood.png
  docs/diagrams/addFoodFeature.png
  docs/diagrams/diagrams - Shortcut.lnk
  src/main/java/seedu/duke/logic/preparecommand/PrepareCommand.java
  src/main/java/seedu/duke/model/ActivityList.java
  src/main/java/seedu/duke/model/DayMap.java
Labels: type.DeveloperGuide

#272 update user guide + PPP
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/ChainCommand.png
  docs/diagrams/addFoodFeature.png
  docs/team/e0425705.md
  docs/team/jlifah.md
  src/main/java/seedu/duke/command/DeleteAllCommand.java
  src/main/java/seedu/duke/command/DeleteByIndexCommand.java
  src/main/java/seedu/duke/command/MoveActivityCommand.java
  src/main/java/seedu/duke/ui/ExceptionMessages.java
Labels: type.DeveloperGuide, type.PPP, type.UserGuide

#277 update UG + DG + PPP
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/team/e0425705.md
  src/main/java/seedu/duke/Trakcal.java
  src/main/java/seedu/duke/command/AddExerciseCommand.java
  src/main/java/seedu/duke/command/EditExerciseCommand.java
  src/main/java/seedu/duke/command/EditFoodCommand.java
  src/main/java/seedu/duke/command/InvalidCommand.java
  src/main/java/seedu/duke/logic/parser/ChainingParser.java
  src/main/java/seedu/duke/logic/parser/CommandParser.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareListCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareMoveIndexCommand.java
  src/main/java/seedu/duke/model/ActivityList.java
  src/main/java/seedu/duke/model/DayMap.java
  src/main/java/seedu/duke/model/Exercise.java
  src/main/java/seedu/duke/model/Food.java
  src/main/java/seedu/duke/storage/Logging.java
  src/main/java/seedu/duke/ui/ExceptionMessages.java
  src/main/java/seedu/duke/ui/Ui.java
Labels: type.DeveloperGuide, type.PPP, type.UserGuide

#281 update Developer Guide with diagrams
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/AddExerciseFeature.png
  docs/diagrams/Command.png
  docs/diagrams/EditExercise.png
  docs/diagrams/EditFood.png
  docs/diagrams/Exception.png
  docs/diagrams/addFoodFeature.png
  docs/diagrams/chainCommand_Command.png
  docs/diagrams/chainCommand_PrepareCommand.png
  docs/diagrams/ui.png
  src/main/java/seedu/duke/command/CreateNewSetCommand.java
  src/main/java/seedu/duke/exception/InvalidNumberOfArguments.java
  src/main/java/seedu/duke/exception/InvalidNumberOfArgumentsException.java
  src/main/java/seedu/duke/logic/parser/CommandParser.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareAddSetCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareByeCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareCreateNewUserCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareDeleteCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareEditUserProfile.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareFindCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareGraphCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareHelpCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareUserCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareUserListCommand.java
Labels: type.DeveloperGuide

#294 add Junit for chaining
  src/main/java/seedu/duke/logic/parser/ChainingParser.java
  src/test/java/seedu/duke/ActivityChainTest.java
Labels: priority.Medium

#295 update things
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/AddExerciseFeature.png
  docs/diagrams/ChainCommand.png
  docs/diagrams/EditExercise.png
  docs/diagrams/EditFood.png
  docs/diagrams/Exception.png
  docs/diagrams/PrepareCommand.png
  docs/diagrams/addFoodFeature.png
  docs/diagrams/ui.png
  src/main/java/seedu/duke/logic/parser/ChainingParser.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareEditUserProfileCommand.java
  src/main/java/seedu/duke/logic/preparecommand/PrepareUserCommand.java
  src/test/java/seedu/duke/ActivityAddTest.java
  src/test/java/seedu/duke/ActivityListTest.java
  src/test/java/seedu/duke/AdvancedListingTest.java
  src/test/java/seedu/duke/DayMapTest.java
  src/test/java/seedu/duke/MoveActivityCommandTest.java
  src/test/java/seedu/duke/logic/ParserTest.java
Labels: type.DeveloperGuide

#301 Developerguide
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/FindSequenceDiagram.jpg
  docs/diagrams/FindSequenceDiagram.png
  docs/diagrams/storage.jpg
  docs/team/poonchuanan.md
Labels: Work-In-Progress, type.DeveloperGuide

#299 update UG, DG
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/Exception.png
  src/main/java/seedu/duke/logic/parser/CommandParser.java
  src/main/java/seedu/duke/logic/parser/Parser.java
  src/main/java/seedu/duke/ui/Ui.java
Labels: type.DeveloperGuide, type.UserGuide

#309 Resize diagram testing
  docs/DeveloperGuide.md
  docs/diagrams/ui.png
Labels: type.DeveloperGuide

#259 Update PPP
  docs/team/1_Karthigeyan_1.md
  docs/team/karthig.md
Labels: Work-In-Progress
